
input[type="date"]
{
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
}


ul {
  list-style-type: none; 
  padding: 0;
}

li {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9; 
}

h3 {
  margin-top: 0;
}

h4 {
  margin: 10px 0;
}
.selected {
  background-color: #d1e7dd; 
  border: 1px solid #0f3151;
}


.report-result{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  & button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    &:first-child{
      background-color: #3ac94d;
      color: #fff;
    };
    &:last-child{
      background-color: #e73434;
      color: #fff;
    };
  }
}