.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.solicitud-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.solicitudes-list {
    list-style-type: none;
    padding: 0;
}

.solicitud-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.payment-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 20px;
    width: 50%;
    max-width: 400px;

    & div {
        width: 100%;
    }

    & div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000;

    &.dark{
        color: #fff;
    }
}