#agregar_usuario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    & button {
        align-self: center;
    }
}

#request-data-sub {
    grid-area: 7 / 1 / 8 / 3;
}

#user-data-sub {
    grid-area: 1 / 1 / 2 / 3;
}