#configuraciones {
    display: flex;
    padding: 20px;
}

#configuraciones form {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.configuracion-opciones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;
}

.configuracion-opcion {
    padding: 15px;
    width: 100%;
    position: relative;
}

.configuracion-opcion::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    width: 1px;
    height: 60%;
    background-color: #ccc;
    transform: translateY(-50%);
}

.configuracion-opcion:last-child::after {
    display: none;
}

#configuraciones h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#configuraciones label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#configuraciones select,
#configuraciones input[type="file"],
#configuraciones input[type="text"],
#configuraciones input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.signature-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}