form div {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
select,
textarea,
input[type="file"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  color: #000 !important;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="number"]:focus,
select:focus,
input[type="tel"]:focus {
  outline: none;
  border-color: #007bff;
}


button:focus {
  outline: none;
}

@media (max-width: 768px) {

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea,
  input[type="tel"] {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
  }
}


form.dark * {
  color: #fff;
}

select * {
  color: #000 !important;
}

#sol_credito form,
#sol_financiamiento form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  & button {
    align-self: center;
  }
}

#request-data-sub {
  grid-area: 7 / 1 / 8 / 3;
}

#user-data-sub {
  grid-area: 1 / 1 / 2 / 3;
}

.filter-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 600px;
  flex-direction: row;
  margin-bottom: 10px;

  & input,
  button {
    margin: 0;
    height: 45px;
  }
}

.filter-portal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  & h4 {
    margin: 3px 0;
  }
}

.filter-portal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 15.625rem;
  width: 100%;
}

.filter-group {
  margin-bottom: 15px;
}

.filter-group p {
  font-weight: bold;
}

.filter-group label {
  display: block;
  margin: 5px 0;
}
.filter-buttons{
  display: flex;
  justify-content: space-between;
}